* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#app {
    height: 100vh;
    display: flex;
    background-image: url('../img/bg.jpeg');
    background-size: cover;
}  

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.96);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: lightblue;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.matched img {
    opacity: 0.3;
}

nav {
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-button {
    color: white;
    width: 120px;
    height: 50px;
    cursor: pointer;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 20px;
    background: rgb(32,149,146);
    background: linear-gradient(135deg,#FEB692 0%,#c1744e 100%);
    box-shadow: 0 20px 30px -6px rgba(238,103,97,0.5);
}

.reset-button:hover {
    transition: transform .2s;
    transform:  translateY(5px);
    box-shadow: none;
}